/*
Reset
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
Header
*/

header {
    background-image: url('../img/wall.png');
    font-family: 'Edu TAS Beginner', sans-serif;
    text-align: center;
}

h1 {
    padding: 30px;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
}

/*
Main
*/

body {
    background-image: url('../img/cork.png');
}

.image-post-it {
    padding: 20px;
    object-fit: contain;
}

p {
    padding-left: 25px;
    align-items: start;
}

h2 {
    padding-left: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.pin {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translate(50%, -40%);
}

.font-card {
    font-family: 'Sometype Mono', 'monospace';
}