/*
Reset
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
Header
*/

header {
    background-image: url('../img/wall.png');
    font-family: 'Edu TAS Beginner', sans-serif;
    text-align: center;
}

h1 {
    padding: 30px;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
}

/*
Main
*/

body {
    height: 100vh;
    background-image: url('../img/cork.png');
}

.post-it {
    display: flex;
    flex-direction: column;
    width: calc((100% - 50px)/ 3);
    flex-shrink: 0;
    position: relative;
    flex-wrap: wrap;
    gap: 25px;
}

.post-it .image-post-it {
    padding: 25px;
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.post-it p {
    padding-left: 25px;
    margin-bottom: 30px;
    font-family: 'Sometype Mono', 'monospace';
}