header {
    background-image: url('../img/wall.png');
    font-family: 'Edu TAS Beginner', sans-serif;
    text-align: center;
}

h1 {
    padding: 30px;
    font-size: 60px;
    text-transform: uppercase;
}